<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% feed_meta %}

<meta name="description" content="{{ metadata.description }}" />

<link href="https://fonts.googleapis.com/css?family=IM+Fell+English:400,400i" rel="stylesheet">
<script defer src="https://kit.fontawesome.com/e5ddffa1e7.js" crossorigin="anonymous"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" rel="stylesheet">
<link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% asset_path css %}" />

{% capture resource_title %}{{ title | strip_html | strip_newlines }}{% endcapture %}
<title>{% if resource_title != "Index" %}{{ resource_title | escape }} | {{ metadata.title | escape }}{% else %}{{ metadata.title | escape }}: {{ metadata.tagline | escape }}{% endif %}</title>

{% live_reload_dev_js %}
